{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('book_show', {'slug': book.slug}) }}">back to book</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
