@import "~bootstrap/scss/bootstrap";
@import "book";
@import "breakpoint";
@import "page";

body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.nav-title {
    color: lightgrey;
    font-weight: bold;
}

.navbar p {
    color: lightgray;
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
}