<nav class="navbar navbar-light bg-dark flex-row justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h2 class="nav-title">Music Book</h2>
    <div class="flex-column">
        <p>
            {% if app.user and app.user.pseudo %}
            {{ app.user.pseudo }}
            {% else %}
                {{ app.user.email ?? 'Anonymous user' }}
            {% endif %}
        </p>
        {% if app.user %}
            <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </div>
</nav>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
</div>